// Archivo manifiesto de SASS principal

// Vendores

// Abstracciones
@use "abstracts/variables" as *;

// Base
// @use "base/reset";  // Temporalmente comentado para eliminar duplicación
@use "base/layout";
// @use "base/typography";

// Componentes
@use "components/header";
@use "components/navigation";
@use "components/charts";
@use "components/states";
@use "components/transactions";
@use "components/menu-icons";

// Layouts
@use "layout/footer";
@use "layout/hero";
@use "layout/auth";

// Páginas
@use "pages/dashboard";
@use "pages/historial";

// Temas

// Utilidades

// Variables