@use "../abstracts/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  background-color: $color-bg-primary;
  color: $color-text-primary;
}

a {
  text-decoration: none;
  color: inherit;
}